<% layout('layouts/boilerplate.ejs') %>
    <div class="row" class="mb-5">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input value="<%= campground.title %>" class="form-control" type="text" id="title"
                        name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input value="<%= campground.location %>" class="form-control" type="text" id="location"
                        name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price-label">Price:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input value="<%= campground.price %>" type="text" class="form-control" placeholder="0.00"
                            aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Add Image(s)</label>
                    <div class="form-file custom-file">
                        <input class="form-control custom-file-input" type="file" id="image" name="image" multiple
                            onchange="previewMultiple(event)">
                        <label for="image" class="form-file-label">
                            <small class="form-file-text custom-file-label"></small>
                        </label>
                    </div>
                    <div id="formFile"></div>
                </div>
                <div id="formFile"></div>
                <div class="mb-3">
                    <% campground.img.forEach(function(img, i){ %>
                        <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="img-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <label for="img-<%= i %>">Delete</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" name="campground[description]" id="description" cols="30" required
                        rows="10"><%= campground.description %>"</textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Save campground</button>
                </div>

            </form>
            <a href="/campgrounds">Cancel</a>
        </div>
    </div>